@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: #516eff;
    --lightprimary: #216583;
    --white: #ffffff;
    --silver: #f6f6f8;
    --silver2: #cdcecf;
    --defaultLinkColor: #333;
    --yellow: #FFD700;
    --muted: #8d8d93;
    --whiteBG: #F8FAFC;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: var(--silver2);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    margin: 5px;
    position: relative;
}
.welcome {
    display: flex;
    flex-direction: column;
    background-color:var(--white);
    width: 100%;
}
header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
}
header.header::after {
    position: absolute;
    content: "";
    width: 100%;
    padding: 2px;
    background-color: var(--silver2);
    margin-top: 100px;
    left: 0;
    z-index: 1;
}
header.header img {
    max-width: 20%;
    width: 180px;
    margin-left: 90px;
}
.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header div .toggle {
    display: flex;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: var(--defaultLinkColor);
    cursor: pointer;
    z-index: 3;
}
.toggle::after, 
.toggle::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--defaultLinkColor);
    width: 30px;
    cursor: pointer;
    z-index: 3;
    left: -10px;
}
.toggle::after {
    top: 7px;
}
.toggle::before {
    top: -7px;
}
.header div input:checked ~ .toggle {
    background: transparent;
}
.header div input:checked ~ .toggle::after {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.header div input:checked ~ .toggle::before {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.header div .check {
    position: absolute;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.header div input:checked ~ .menu ul{
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}
.header div .toggle,
.header div .check {
    display: none;
    }
.header div .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 90px;
    z-index: 2;
}
.menu li {
    list-style: none;
}
.menu li a {
    display: block;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 15px;
    font-weight: 500;
    color: var(--muted);
    line-height: 1;
}
.menu li a[id ="button"] {
    background-color: var(--primary);
    height: 10px;
    width: 70px;
    font-size: 15px;
    color: var(--white);
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.menu li a:hover {
    box-shadow : 0 -5px 0px var(--primary) inset;
    color: var(--primary);
    padding: 35px 25px 45px 25px; 
}
.menu li a[id ="button"]:hover {
    color: var(--defaultLinkColor);
    padding: 25px; 
    background-color: var(--yellow);
    box-shadow: none;
}
/*WELCOME*/
.welcome .wel-contain {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin:15% 80px 4% 80px;
}
.wel-left {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 55%;
}
.wel-left .title-me{
    font-size: 50px;
}
.wel-left .title-me span{
    font-size: 50px;
    color: var(--yellow);
}
.wel-left p {
    color: var(--muted);
    margin-bottom: 55px;
    line-height: 25px;
    margin-top: 25px;
    font-size: 18px;
}
/* .wel-left .start{
    display: flex;
    justify-content: space-between;
    width: 450px;
} */
.wel-left button {
    height: 50px;
    width: 270px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: var(--white);   
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
.wel-right {
    display: flex;
    width: 55%;
    margin-right: 80px;
}
.wel-right img {
    width: 550px;
    height: 350px;
    border-radius: 20px;
}
/*services*/
.services {
    display: flex;
    width: 100%;
    background-color: var(--white);
    flex-direction: column;
}
.service-blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 200px; */
    padding: 60px 80px;
    background-color: var(--primary);
    color: var(--white);
}
.service-blue .serv-left {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    width: 60%;
}
.service-blue .serv-left h3 {
    font-size: 35px;
    font-weight: 500;
}
.service-blue .serv-left P {
    font-size: 18px;
}
.service-blue .serv-right {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}
.serv-right .get-service {
    background-color: var(--white);
    color: var(--defaultLinkColor);
    width: 150px;
    height: 130px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}
.get-service img {
    width: 35px;
    margin-bottom: 10px;
    height: 35px;
}
/*PROVIDE*/
.services .provide {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.provide .provide-left {
    background-color: var(--silver);
    width: 40%;
    height: 320px;
    border-bottom-right-radius: 90px;
    padding: 80px;
}
.provide .provide-left img {
    width: 450px;
    height:300px;
}
.provide .provide-right {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    margin-top: 7%;
}
.provide-right .prov-title {
    font-size: 20px;
    margin-bottom: 40px;
}
.provide-right .prov-apercu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(_8, 1fr);
    gap: 25px;
}
.prov-apercu .gird-prov {
    display: flex;
    width: 310px;
}
.prov-apercu .gird-prov img {
    height: 27px;
    width: 28px;
}
.prov-apercu .gird-prov p {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 20px;
}
/*SPECIAL*/
.special {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
}
.title-sp {
    /* display: flex; */
    font-size: 50px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    position:relative ;
}
.title-sp .title-two {
    padding-top: 30px;
    font-size: 50px;
}
.title-sp .title-two span{
    color: var(--yellow);
}
.title-sp .title-two span::after{
    position: absolute;
    content: "";
    width: 99%;
    padding: 1px;
    background-color: var(--silver2);
    margin-top: 70px;
    left: 5px;
}
.special .sp-purpose{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    border-left: 1px solid var(--silver2);
    width: 88%;
    height: 100vh;
    margin: 4% 80px 6% 80px;
    align-items: stretch;
}
.sp-purpose .sp-column {
    display: flex;
    flex-direction: column;
    background-color: var(--silver);
    align-items: center;
    border-radius: 7px;
    padding: 20px;
    border: 2px solid var(--silver2);
    gap: 25PX;
}
.sp-column img {
    max-width: 120px;
    width: 80px;
    height: 90px;
}
.sp-column h3{
    font-size: 20px;
    font-weight: 500;
}
.sp-column p {
    font-size: 15px;
    line-height: normal;
    text-align: center;
    color: var(--muted);
}
/*SMILE*/
.smile {
    display: flex;
    background-color: var(--primary);
    width: 100%;
    height: 400px;
}
.smile .smile-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    margin: 60px 350px;
}
.smile-contain .smile-title {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
}
.smile-contain .smile-title span{
    font-size: 50px;
    font-weight: 700;
}
.smile-contain p {
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}
.smile-contain button {
    color: var(--white);
    width: 350px;
    height: 70px;
    background: none;
    border: 1px solid currentColor;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    cursor: pointer;
}
/*history*/
.history {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
}
.title-hist .title-two {
    font-size: 50px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.title-hist .title-two span{
    color: var(--yellow);
}
.title-hist .title-two span::after{
    position: absolute;
    content: "";
    width: 99%;
    padding: 1px;
    background-color: var(--silver2);
    margin-top: 70px;
    left: 5px;
}
.history .hist-contain {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 3% 80px;
}
.hist-contain .hist-left {
    width: 50%;
    margin-top: 2%;
}
.hist-left img {
    width: 450px;
    height: 300px;
    border-radius: 15px;
}
.hist-contain .hist-right {
    width: 70%;
    top: 0;
}
.hist-right .hist-about {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 1px solid var(--silver);
    background-color: var(--silver);
    border-radius: 10px;
    width: 480px;
    height: 250px;
    margin-left:  90px;
    padding: 40px;
}
.hist-about h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
}
.hist-about p {
    font-size: 15px;
    line-height: 40px;
    color: var(--muted);
}
/*MEETING*/
.meeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}
.title-meet .title-two{
    font-size: 50px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.title-meet .title-two span{
    color: var(--yellow);
}
.title-meet .title-two span::after{
    position: absolute;
    content: "";
    width: 99%;
    padding: 1px;
    background-color: var(--silver2);
    margin-top: 70px;
    left: 5px;
}
.meet-doctors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    margin:  40px 0px;
    gap: 20px;
}
.meet-doctors .doc-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 400px;
    line-height: 30px;
    border: 2px solid var(--silver2);
    border-radius: 10px;
}
.doc-picture img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
.doc-picture p {
    line-height: 25px;
    color: var(--muted);
    text-align: center;
    font-size: 14px;
}
.doc-picture h3 {
    font-weight: 400;
}
.doc-picture button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    color: var(--primary);
    border: 1px solid currentColor;
    font-family: "Inter", sans-serif;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
    background: none;
}
/*ABOUT US*/
.about {
    display: flex;
    background-color: var(--primary);
    width: 100%;
    height: 500px;
}
.about .about-contain {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;
    width: 78%;
}
.about-contain .about-left {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.about-left img {
    width: 200px;
    height: 200px;
}
.about-left p {
    margin-top: 27px;
    font-weight: 600;
    font-size: 18px;
}
.about-contain .about-right {
    width: 500px;
    padding: 50px;
}
.about-right .about-us {
    color: var(--white);
}
.about-us h2 {
    margin-bottom: 37px;
    font-size: 30px;
    font-weight: 100;
}
.about-us p {
    line-height: 30px;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.about-us .suspension {
    display: flex;
    position: relative;
    content: "";
    padding: 6px;
    width: 1px;
    background-color: rgba(242, 244, 248, 0.171);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 70%;
}
.about-us .suspension::before {
    flex: 1;
    position: absolute;
    content: "";
    padding: 6px;
    width: 1px;
    background-color: rgba(242, 244, 248, 0.171);
    border-radius: 50%;
    left: -200%;
}
.about-us .suspension::after {
    flex: 1;
    position: absolute;
    content: "";
    padding: 6px;
    width: 1px;
    background-color: rgba(242, 244, 248, 0.171);
    border-radius: 50%;
    left: 200%;
}
/*appointment*/
.appointment {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
}
.title-rv {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    width: 100%;
}
.title-rv .title-two::after{
    position: absolute;
    content: "";
    width: 99%;
    padding: 1px;
    background-color: var(--silver2);
    margin-top: 70px;
    left: 5px;
}
.appointment .make-appoint {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 88%;
    margin: 2% 80px;
}
.make-appoint .appoint-left {
    margin-top: 20px;
    width: 30%;
}
.appoint-left img {
    width: 400px;
    height: 530px;
    border-radius: 20px;
}
.make-appoint .appoint-right {
    width: 55%;
    display: flex;
    margin-top: 40px;
}
.appoint-right #form {
    display: flex;
    flex-direction: column;
}
#form .form-perso {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px 18px;
    width: 100%;
}
.form-perso div {
    display: flex;
    flex-direction: column;
}
.form-perso div input{
    width: 260px;
    height: 40px;
    border: 1px solid var(--silver2);
    border-radius: 8px;
    padding: 2px 10px ;
}
.form-perso div input[type="date"] {
    color: var(--muted);
    width: 260px;
}
.form-perso div select {
    width: 280px;
    height: 45px;
    border: 1px solid var(--silver2);
    border-radius: 8px;
    padding: 2px 10px ;
    background: none;
    color: var(--muted);
}
#form label {
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 8px;
    color: var(--defaultLinkColor);
}
#form textarea {
    width: 96%;
    height: 150px;
    border: 1px solid var(--silver2);
    border-radius: 8px;
    padding: 2px 10px ;;
}
#form input[type="checkbox"] {
    accent-color: var(--yellow);
    height: 18px;
    width: 25px;
    place-self: center;
    margin-right: 7px;
}
#form label[class="agree"] {
    color: var(--muted);
}
#form button {
    background-color: var(--primary);
    border: none;
    width: 100%;
    height: 45px;
    color: var(--white);
    margin: 20px 0px;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
/*NEWSLETTER*/
.letter {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: var(--silver);
}
.letter .newsletter {
    display: flex;
    flex-direction: column;
    background-color: var(--lightprimary);
    color: var(--white);
    padding: 80px;
    border-radius: 20px;
    width: 70%;
    margin: 5% 8%;
    height: 100px;
}
.newsletter h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.newsletter #subscribe {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 0px 20px;
}
#subscribe input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 13px;
    border: none;
    background-color: rgba(242, 244, 248, 0.171);
}
#subscribe input::placeholder {
    color: var(--white);
    letter-spacing: 1px;
}
#subscribe button {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    padding: 5px 15px;
    font-size: 13px;
    border: none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
#subscribe button:hover {
    background-color: var(--yellow);
    color: var(--muted);
}
/*visit*/
.visit {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: var(--primary);
    height: 400px;
}
.visit .visit-contain {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    margin: 60px;
    height: 350px;
    width: 90%;
}
.visit-contain .visit-1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    border-right: 1px solid var(--muted);
    padding-top: 15px;
}
.visit-1 img {
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    filter:brightness(0) invert(1);
}
.visit-1 p {
    letter-spacing: 1px;
    line-height: 30px;
    width: 250px;
    font-size: 14px;
    font-weight: 300;
}
.visit-contain .visit-2 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 210px;
    border-right: 1px solid var(--muted);
    padding: 30px;
    margin-left: 30px;
    text-align: start;
    padding-top: 15px;
}
.visit-2 p {
    font-size: 14px;
}
.visit-2 h2 {
    font-size: 25px;
    margin: 30px 0px;
    width: 200px;
}
.visit-contain .visit-3 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-right: 1px solid var(--muted);
    padding: 30px;
    margin-left: 30px;
    text-align: start;
    padding-top: 15px;
}
.visit-3 > p {
    margin-bottom: 50px;
    font-size: 14px;
}
.visit-3 .page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20PX;
}
.visit-3 .page a {
    width: auto;
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}
.visit-contain .visit-4 {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    height: 250px;
    padding-top: 0px;
    padding-left: 30px; 
}
.visit-4 h4 {
    font-weight: normal;
    font-size: 15px;
}
.visit-4 p {
    font-size: 14px;
}
/*FOOTER*/
.footer {
    display: flex;
    background-color: var(--lightprimary);
    height: 50px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 100%;
}
.footer p {
    font-size: 14px;
    font-weight: 300;
}


/*reponsive*/
@media (350px<= width <= 750px) {
    body {
        background-color: var(--silver);
    }
    .container {
        width: 98%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px 1px var(--silver2);
        padding: 0;
        position: relative;
    }
    header.header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--white);
    }
    header.header::after {
        display: flex;
        margin-top: 60px;
        left: 0;
        width: 99%;
    }
    .header div .toggle,
    .header div .check {
        display: block;
        margin-right: 20px;
    }
    .header div .menu ul  {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -150px;
        background-color: var(--white);
        margin: 0;
        padding-top: 60px;
        height: 300px;
        width: 150px;
        gap: 20PX;
    }
    .menu li {
        width: 100%; 
    }
    .menu li a,
    .menu li a[id ="button"] {
        padding: 10px 5px;
        font-size: 13px;
        text-align: center;
        align-content: center;
        background: none;
        color: #000000;
        width: 100%;
        border-radius: 0;
    }
    .menu li a:hover,
    .menu li a[id ="button"]:hover {
        padding: 5px 0;
        box-shadow: none;
        color: var(--primary);
        background-color: var(--yellow);
    }
    header.header img {
        display: flex;
        width: 120px;
        max-width: 200px;
        margin-left: 20px;
    }
    .welcome .wel-contain{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px;
        margin-top: 40px;
    }
    .wel-left {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
    } 
    .wel-left .title-me{
        font-size: 35px;
    }
    .wel-left .title-me span{
        font-size: 35px;
    }
    .wel-left p {
        display: flex;
        margin: 20px 0px;
        line-height: 20px;
        font-size: 13px;
    }
    .wel-left button {
        width: 200px;
        font-size: 13px;
        height: 40px;
        border-radius: 5px;
    }
    .wel-right {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }
    .wel-right img {
        width: 300px;
        height: 200px;
        border-radius: 20px;
        margin: 0;
    }
    .service-blue {
        flex-direction: column;
        justify-content: center;
        padding: 20PX 20px 50px 20px;
        gap: 30PX;
    }
    .service-blue .serv-left{
        width: 90%;
        text-align: center;
        line-height: 35px;
    }
    .service-blue .serv-left h3 {
        font-size: 25px;
    }
    .service-blue .serv-left p {
        font-size: 15px;
        margin: 0;
    }
    .service-blue .serv-right {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .serv-right .get-service {
        width: 100px;
        height: 90px;
        font-size: 10px;
        line-height: 14px;
    }
    .serv-right .get-service img {
        height: 25px;
        width: 25px;
    }
    .services .provide {
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }
    .provide .provide-left {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: right;
        height: 220px;
    }
    .provide .provide-left img {
        width: 300px;
        height:200px;
    }
    .provide .provide-right {
        width: 100%;
        margin-bottom: 20px;
    }
    .provide-right .prov-apercu {
        width:90%;
        gap: 5PX;
        margin:0px 20px;
    }
    .prov-apercu .gird-prov {
        display: flex;
        width: 180px;
    }
    .prov-apercu .gird-prov img {
        height: 17px;
        width: 18px;
    }
    .prov-apercu .gird-prov p {
        margin-left: 10px;
        margin-top: 0;
        font-size: 12px;
    }
    .title-sp .title-two {
        font-size: 25px;
        font-weight: 700;
    }
    .title-sp .title-two span::after {
        margin-top: 50px;
        left: 0;
        width: 100%;
    }
    .special .sp-purpose {
        margin: 20px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: auto;
        gap: 20PX;
        width: 90%;
        align-items: stretch;
    }
    .sp-purpose .sp-column {
        display: flex;
        gap: 10PX;
        padding: 20px;
    }
    .sp-column img {
        max-width: 90px;
        width: 50px;
        height: 40px;
    }
    .sp-column h3{
        font-size: 12px;
        font-weight: 500;
    }
    .sp-column p {
        font-size: 9px;
    }
    .title-hist .title-two {
        font-size: 25px;
        font-weight: 700;
    }
    .title-hist .title-two span::after {
        margin-top: 35px;
        left: 0;
        width: 99%;
    }
    .title-meet .title-two {
        font-size: 25px;
        font-weight: 700;
    }
    .title-meet .title-two span::after {
        margin-top: 40px;
        left: 0;
        width: 99%;
    }
    .history .hist-contain {
        flex-direction: column;
        margin: 20px;
        margin-top: 30PX;
    }
    .hist-contain .hist-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .hist-left img {
        width: 320px;
        height: 200px;
    }
    .hist-contain .hist-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hist-right .hist-about {
        margin: 0;
        width:80%;
        padding: 20px;
        height: auto;
    }
    .hist-about h3 {
        font-size: 18px;
    }
    .hist-about p {
        font-size: 10px;
        line-height: 20px;
    }
    .meeting {
        width: 100%;
    }
    .meet-doctors {
        width: 40%;
        padding: 8% 20px 4% 20px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20PX;
        margin:40px 20px;
        padding: 0;
    }
    .meet-doctors .doc-picture {
        line-height: 0;
        gap: 20PX;
        height: 250px;
        width: 180px;
        border-radius: 5px;
        margin: 0;
    }
    .doc-picture img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .doc-picture p {
        font-size: 13px;
        line-height: 17px;
    }
    .doc-picture h3 {
        font-weight: 400;
        font-size: 15px;
    }
    .doc-picture button {
        margin: 0;
        font-size: 13px;
        width: 150px;
        height: 25px;
        border-radius: 7px;
    }
    .title-rv {
        font-size: 25px;
    }
    .title-rv .title-two::after{
        margin-top: 50px;
        left: 0;
        width: 99%;
    }
    .appointment .make-appoint {
        width: 90%;
        margin: 20px;
        justify-content: center;
        flex-direction: column;
    }
    .make-appoint .appoint-left {
        display: none;
    }
    .make-appoint .appoint-right {
        width: 100%;
        margin: 0;
        display: flex;
    }
    .appoint-right #form {
        width: 100%;
    }
    #form .form-perso {
        width: 100%;
        gap: 0px;
        line-height: 0;
    }
    .form-perso div {
        width: 100%;
    }
    .form-perso div input {
        width: 85%;
        height: 30px;
        font-size: 10Px;
        justify-content: center;
        align-items: center;
    }
    .form-perso div select {
        width: 97%;
        height: 36px;
        font-size: 12px;
    }
    #form label {
        font-size: 10px;
        margin-left: 3px;
    }
    #form textarea {
        width: 93%;
        height: 100px;
    }
    #form input[type="checkbox"] {
        height: 14px;
        margin: 0;
    }
    #form button {
        width: 98%;
        font-size: 11px;
        height: 30px;
        margin: 10px 0;
    }
    .letter {
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
    .letter .newsletter {
        width: 80%;
       height: 180px;
       padding: 10px 5PX;
       margin: 0;
       border-radius: 23px;
    }
    .newsletter h2 {
        font-size: 20px;
        margin: 0;
    }
    .newsletter #subscribe {
        padding: 0;
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15PX;
    }
    #subscribe input {
        width: 200px;
        height: 15px;
        font-size: 10px;
    }
    #subscribe button {
        width: 230px;
        height: 24px;
        font-size: 9px;
        border-radius: 5px;
    }
    .visit {
        width: 100%;
        justify-content: center;
        height: auto;
    }
    .visit .visit-contain{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .visit-contain .visit-1 {
        width: 80%;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
        border: 0;
        border-bottom: 1px solid var(--silver2);
        justify-content: center;
        align-items: center;
    }
    .visit-1 img {
        width: 100px;
        height: 30px;
        margin: 20PX 0;
    }
    .visit-1 p {
        font-size: 10Px;
        line-height: 15px;
        width:80%;
        text-align: center;
    }
    .visit-contain .visit-2 {
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 20px;
        margin: 20px 0;
        width: 80%;
        height: auto;
        border: 0;
        border-bottom: 1px solid var(--silver2);
    }
    .visit-2 p {
        font-size: 12px;
    }
    .visit-2 h2 {
        font-size: 18px;
        width: auto;
    }
    .visit-contain .visit-3 {
        border: 0;
        margin:0;
        padding: 0;
        border-bottom: 1px solid var(--silver2);
        width: 80%;
        height: auto;
        gap: 15PX;
        align-items: center;
        padding-bottom: 20px;
    }
    .visit-3 p {
        font-size: 13px;
        margin: 0;
    } 
    .visit-3 .page {
        gap: 10px;
        width: 40%;
        align-items: stretch;
    }
    .visit-3 .page p {
        font-size: 10px;
    }
    .visit-contain .visit-4 {
        width: 80%;
        height: auto;
        margin: 20PX 0;
        line-height: 12px;
        gap: 15PX;
        text-align: center;
    }
    .visit-4 h4 {
        font-size: 12px;
    }
    .visit-4 p {
        font-size: 11px;
    }
    .footer {
        height: 30px;
    }
    .footer p {
        font-size: 10px;
    }
}
/*responsive two*/
@media (750px < width <=1200px) {
    .container {
        /* width: 98%; */
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px 1px var(--silver2);
        position: relative;
        margin: 5px;
    }
    header.header {
        padding: 0 60px;
        width: 90%;
        height: 70px;
    }
    header.header::after  {
        margin-top: 70px;
    }
    header.header img {
        margin: 0;
        width: 150px;
    }
    .header div .menu ul {
        margin: 0;
    }
    .menu li a {
        padding: 0 15px;
        font-size: 13px;
    }
    .menu li a[id ="button"] {
        font-size: 13px;
        height: 30px;
    }
    .menu li a:hover {
        box-shadow : 0 -5px 0px var(--primary) inset;
        color: var(--primary);
        padding: 15px 20px 40px 25px; 
    }
    .menu li a[id ="button"]:hover {
        color: var(--defaultLinkColor);
        padding: 12px; 
        background-color: var(--yellow);
        box-shadow: none;
    }
    .welcome .wel-contain {
        margin: 0;
        /* padding: 60px; */
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .wel-left {
        width: 100%;
        text-align: center;
        margin-top: 100PX;
    }
    .wel-left .title-me, .wel-left .title-me span{
        font-size: 45px;    
    }
    .wel-left p {
        font-size: 16px;
        margin: 25px 0;
    }
    .wel-left button {
        width: 200px;
        font-size: 13px;
        height: 40px;
        border-radius: 5px;
        align-self: center;
    }
    .wel-right {
        display: flex;
        width: 100%;
        margin-right: 0;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .wel-right img {
        width: 600px;
    }
    .service-blue {
        padding: 20px 60px;
    }
    .service-blue .serv-left h3 {
        font-size: 25px;
    }
    .service-blue .serv-left P {
        font-size: 15px;
    }
    .service-blue .serv-right {
        gap: 20px;
    }
    .serv-right .get-service {
        font-size: 11px;
        width: 100px;
        height: 90px;
    }
    .get-service img {
        width: 20px;
        height: 20px;
    }
    .provide .provide-left {
        width: 50%;
        padding: 0;
        height: 40vh;
    }
    .provide .provide-left img {
        width: 90%;
        height: 35vh;
        margin-left: 10%;
    }
    .provide .provide-right {
        width: 50%;
        margin-top: 4%;
    }
    .provide-right .prov-title {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .provide-right .prov-apercu {
        gap: 15px;
        width: 100%;
    }
    .prov-apercu .gird-prov {
        display: flex;
        width: 180px;
    }
    .prov-apercu .gird-prov img {
        height: 17px;
        width: 18px;
    }
    .prov-apercu .gird-prov p {
        margin-left: 10px;
        margin-top: 0;
        font-size: 12px;
    }
    .title-sp .title-two {
        font-size: 35px;
        font-weight: 700;
    }
    .title-sp .title-two span::after {
        margin-top: 50px;
        left: 0;
        width: 100%;
    }
    .special .sp-purpose {
        margin: 40px 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: auto;
        gap: 20PX;
        width: 80%;
    }
    .sp-purpose .sp-column {
        display: flex;
        gap: 10PX;
        padding: 20px;
    }
    .sp-column img {
        width:90px;
        height: 70px;
    }
    .sp-column h3{
        font-size: 19px;
        font-weight: 500;
    }
    .sp-column p {
        font-size: 14px;
    }
    .title-hist .title-two {
        font-size: 35px;
        font-weight: 700;
    }
    .title-hist .title-two span::after {
        margin-top: 40px;
        left: 0;
        width: 99%;
    }
    .title-meet .title-two {
        font-size: 35px;
        font-weight: 700;
    }
    .title-meet .title-two span::after {
        margin-top: 40px;
        left: 0;
        width: 99%;
    }
    .history .hist-contain {
        flex-direction: column;
        margin: 40px;
        margin-top: 30PX;
    }
    .hist-contain .hist-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .hist-left img {
        width: 420px;
        height: 300px;
    }
    .hist-contain .hist-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hist-right .hist-about {
        margin: 0;
        width:80%;
        padding: 20px;
        height: auto;
    }
    .hist-about h3 {
        font-size: 20px;
    }
    .hist-about p {
        font-size: 13px;
        line-height: 30px;
    }
    .meet-doctors {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin: 40px 80px;
        gap: 20px;
    }
    .meet-doctors .doc-picture {
        line-height: 0;
        gap: 10PX;
        height: 280px;
        width: 180px;
        border-radius: 5px;
        margin: 0;
        gap: 20px;
    }
    .doc-picture img {
        width: 120px;
        height: 120px;
        margin: 0;
    }
    .doc-picture p {
        font-size: 13px;
        line-height: 19px;
    }
    .doc-picture h3 {
        font-weight: 400;
        font-size: 14px;
    }
    .doc-picture button {
        margin: 0;
        font-size: 614x;
        width: 120px;
        height: 30px;
        border-radius: 3px;
    }
    .title-rv {
        font-size: 35px;
    }
    .title-rv .title-two::after{
        margin-top: 50px;
        left: 0;
        width: 99%;
    }
    .appointment .make-appoint {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        width: 90%;
        margin: 2% 60px;
    }
    .make-appoint .appoint-left {
        margin-top: 20px;
        width: 35%;
    }
    .appoint-left img {
        width: 300px;
        height: 400px;
        display: flex;
    }
    .make-appoint .appoint-right {
        width: 55%;
    }
    .appoint-right #form {
        width: 100%;
    }
    #form .form-perso {
        gap: 5px;
        width: 100%;
    }
    #form textarea {
        height: 90px;
    }
    #form label {
        margin-top: 10px;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .form-perso div {
        width: 100%;
    }
    .form-perso div input {
        width: 90%;
        height: 30px;
        font-size: 12Px;
        justify-content: center;
        align-items: center;
    }
    .form-perso div select {
        width: 97%;
        height: 35px;
        font-size: 12px;
    }
    #form input[type="checkbox"] {
        height: 14px;
        margin: 0;
    }
    #form button {
        width: 98%;
        font-size: 13px;
        height: 35px;
        margin: 10px 0;
    }
    .letter {
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
    .letter .newsletter {
        width: 80%;
       height: 100px;
       padding: 30px ;
       margin: 0;
       border-radius: 7px;
    }
    .newsletter h2 {
        font-size: 25px;
        margin: 0;
    }
    .newsletter #subscribe {
        padding: 0;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
        justify-content:center ;
        align-items: center;
    }
    #subscribe input {
        width: 180px;
        height: 25px;
        font-size: 12px;
    }
    #subscribe button {
        width: 180px;
        height: 34px;
        font-size: 12px;
        border-radius: 5px;
    }
    .footer {
        height: 30px;
        width: 100%;
    }
    .footer p {
        font-size: 10px;
    }
    .visit {
        height: 250px;
        width: 100%;
    }
    .visit .visit-contain{
        margin: 30px 50px;
        height: auto;
        align-items: stretch;
        gap: 20PX;
    }
    .visit-contain .visit-1 {
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
    }
    .visit-contain .visit-2 {
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
    }
    .visit-contain .visit-3 {
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
    }
    .visit-contain .visit-4 {
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
    }
    .visit-1 img {
        width: 150px;
        height: 30px;
        margin-bottom: 25px;
    }
    .visit-1 p {
        letter-spacing: 1px;
        line-height: 20px;
        width: 80%;
        font-size: 10px;
        font-weight: 300;
    }
    .visit-2 p {
        font-size: 10px;
    }
    .visit-2 h2 {
        font-size: 18px;
    }
    .visit-3 p, .visit-3 .page p {
        font-size: 12px;
    }
    .visit-4 h4, .visit-4 p {
        font-size: 12px;
    }
}